@using SixLabors.ImageSharp
@using SixLabors.ImageSharp.Formats.Jpeg
@model JetBrains.FeaturedImageGenerator.Pages.Index
@{
    var data = @Model.Image.ToBase64String(JpegFormat.Instance);
}

<figure id="featureCard">
    <div class="image block">
    <a id="featureCardDownload" download="@(Model.Product.ToLowerInvariant())_feature_card.jpg" href="@data">
        <img src="@data" alt="@Model.Product with @Model.Search" download>
    </a>
    </div>
    <div class="block columns is-centered">
        <button class="button is-success is-medium" onclick="document.getElementById('featureCardDownload').click()">
            <span class="icon">
                <i class="fas fa-download"></i>
            </span>
            <span>Save</span>
        </button>
    </div>
</figure>